{{ define "header" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script type="text/javascript" src="/assets/script.js"></script>
  </head>
  <body>
    <div class="container header-nav">
      <div class="nav-home-button"><a href="/">Home</a></div>
      <div class="nav-button"><a href="/login">Login</a></div>
      <div class="nav-button"><a href="/user/new">Sign Up</a></div>
    </div>
{{ end }}
