{{ template "header" . }}
<div class="container">
  <h1>Task {{ .Task.ID }}: edit</h1>
  <form action="/task/{{ .Task.ID }}/edit" method="POST">
    <div class="block">
      <label>Title</label
      ><input type="text" name="title" value="{{ .Task.Title }}" required class="search-form"/>
    </div>
    <div class="block">
      <input
        type="radio"
        name="is_done"
        value="t"
        {{
        if
        .Task.IsDone
        }}checked{{
        end
        }}
      /><label>完了</label>
      <input
        type="radio"
        name="is_done"
        value="f"
        {{
        if
        not
        .Task.IsDone
        }}checked{{
        end
        }}
      /><label>未完了</label>
    </div>
    <div class="task-form">
      <div>
        <label>Description</label>
      </div>
      <div>変更前: {{ .Task.Description }}</div>
      <textarea name="description" ></textarea>
    </div>
    <div class="task-form">
      <div>変更前: {{ .Task.DueDate }}</div>
      <label class="label">Due Date</label>
      <input type="date" name="due_date" required/>
    </div>
    <div class="task-form">
      <label class="label">Status</label>
      <select name="status" required>
        <option value="todo" {{ if eq .Task.Status "todo" }} selected {{ end }}>Todo</option>
        <option value="in-progress" {{ if eq .Task.Status "in-progress" }} selected {{ end }}>In Progress</option>
        <option value="done" {{ if eq .Task.Status "done" }} selected {{ end }}>Done</option>
      </select>
    </div>
    <div class="task-form">
      <label class="label">Priority</label>
      <select name="priority" required >
        <option value="1" {{ if eq .Task.Priority 1 }} selected {{ end }}>Low</option>
        <option value="2" {{ if eq .Task.Priority 2 }} selected {{ end }}>Medium</option>
        <option value="3" {{ if eq .Task.Priority 3 }} selected {{ end }}>High</option>
      </select>
    </div>
    <div>
      <input type="submit" value="更新" class="search-button"/>
      <a href="/task/{{ .Task.ID }}"><button type="button" class="search-button">戻る</button></a>
    </div>
  </form>
</div>
{{ template "footer" }}
