{{ template "header" . }}
<div class="container">
  <h1>Task: {{ .Title }}</h1>
  <div class="container table-view">
    <table>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>DeadLine</th>
        <th>Status</th>
        <th>Is Completed?</th>
      </tr>
      <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Description }}</td>
        <td>{{ .DueDate }}</td>
        <td>{{ .Status }}</td>
        <td>
          <input type="checkbox" {{ if .IsDone }}checked {{ end }}disabled />済
        </td>
      </tr>
    </table>
  </div>
  <a href="/list"><button type="button">リストへ戻る</button></a>
  <a href="/task/{{ .ID }}/edit"><button type="button">編集</button></a>
  <button type="button" onclick="confirm_delete({{ .ID }})">削除</button>
</div>
{{ template "footer" }}
