{{ template "header" . }}
<div class="container">
  <h1>Task List</h1>

  <form action="/list" method="GET">
    <div class="check-box-item">
      <div>Status:</div>
      <input type="checkbox" name="status" value="todo" {{ if .Todo }} checked {{ end }}/>
      <span>
        <span class=>Todo</span>
      </span>
    </div>

    <div class="check-box-item">
      <input type="checkbox" name="status" value="in-progress" {{ if .InProgress }} checked {{ end }}/>
      <span>
        <span>In Progress</span>
        {{.InProgress}}
      </span>
    </div>

    <div class="check-box-item">
      <input type="checkbox" name="status" value="done"  {{ if .Done }} checked {{ end }}/>
      <span>
        <span>Done</span>
      </span>
    </div>

    <input
      type="text"
      name="keyword"
      value="{{ .Keyword }}"
      class="search-form"
      placeholder="search"
    />
    <input type="submit" value="検索" class="search-button" />
  </form>

  {{ if not .Tasks }}
  <p>登録データがありません．</p>

  <p><a href="/task/new">新規登録</a></p>

  <a href="/"><button type="button">トップへ戻る</button></a>
  {{ else }}

  <div class="container table-view">
    <table>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>締め切り</th>
        <th>ステータス</th>
        <th>状態</th>
      </tr>

      {{ range $task := .Tasks }}

      <tr>
        <td><a href="/task/{{ $task.ID }}">{{ $task.ID }}</a></td>
        <td>{{ $task.Title }}</td>
        <td>{{ $task.DueDate }}</td>
        <td>{{ $task.Status }}</td>
        <td>{{ if $task.IsDone }}済{{ end }}</td>
      </tr>

      {{ end }}
    </table>
  </div>

  <p><a href="/task/new">新規登録</a></p>
</div>
{{ end }} {{ template "footer" }}
