/* placeholder file for CSS */
:root {
  --nav-background: rgb(221, 242, 199);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.header-nav {
  background-color: var(--nav-background);
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: right;
  border-radius: 10px;
}

.header-nav a {
  text-decoration: none;
  color: rgb(60, 118, 255);
}

.nav-home-button {
  margin-right: auto;
  background-color: #fff;
  color: var(--nav-background);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.nav-home-button:hover {
  background-color: var(--nav-background);
  color: #fff;
}

.nav-button {
  background-color: #fff;
  color: var(--nav-background);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

.nav-button:hover {
  background-color: var(--nav-background);
  color: #fff;
}

.search-form {
  height: 2.4em;
  max-width: 250px;
  width: 100%;
  padding: 0 16px;
  margin: 0 8px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search-form:focus {
  outline: none;
  box-shadow: 0 0 0 1px #aaa inset;
}

.search-form::placeholder {
  color: #aaa;
}

.search-button {
  background-color: #fff;
  padding: 0px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.check-box-item {
  padding: 5px 0px;
}

.table-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  width: 100%;
  max-width: 960px;
}

.table-view table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.table-view table tr {
  border-bottom: 1px solid #ddd;
}

.task-form {
  margin: 30px auto;
  width: 100%;
}

.label {
  margin-right: 10px;
}

.task-form input {
  margin: 10px 0px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;

  width: 100%;
  max-width: 300px;
}

.task-form textarea {
  margin: 10px 0px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

.block {
  padding: 10px;
}
